* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #FCF0CC; 
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  
  nav {
    background-color: rgb(83, 147, 170);
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  nav a {
    color: black;
    position: relative;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  nav a::after {
    content: '';
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
  }
  
  nav a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  
  header {
    background-image: url('https://c.pxhere.com/photos/5a/6c/home_office_workstation_office_business_notebook_macbook_air_portable_device_computer-1338927.jpg!d');
    background-size: 100% 100%;
    background-position: center center ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }
  
  header::after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
  }
  
  header * {
    position: relative;
    z-index: 1;
  }
  
  header h1 {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  header h2 {
    font-size: 30px;
    margin: 0;
  }
  
  header p {
    font-size: 27px;
    margin: 0;
    margin-left: 20px;
  }
  section {
    padding: 40px;
    text-align: center;
  }
  
  section h2 {
    margin: 0;
  }
  
  section p {
    margin-top: 0;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 810px;
    margin: 20px auto 0;
  }
  
  .project-tile {
    margin: 10px;
    max-width: 250px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .project-tile:hover {
    transform: scale(1.05);
  }
  
  .project-tile img {
    max-width: 100%;
  }
  
  .project-tile p {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .bg-pink {
    background-color: #A64253;
    color: #fff;
  }
  
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 810px;
    margin: 20px auto 0;
  }
  .blog-container p{
      font-size: 15px;
  }
  .social-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .social-ul a {
    border-radius: 50%;
    border: 1px solid #fff;
    color:rgb(238, 228, 228);;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    margin: 5px 10px;
    height: 50px;
    width: 50px;
    text-decoration: none;
  }
  
  footer {
    background-color: #131112;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer .fa-heart {
    color: red;
  }

    @media (max-width:768px){
        header p {
           text-align: center;
          }
        
    }